button {
  color: $font-color;
  background: $element-color;
  border: 1px solid $font-color;
  cursor: pointer;
  padding: 2px 6px;
  transition: .2s ease;
}

button:hover {
  background: $hover-color;
}

button:active {
  color: $active-font-color;
  background: $active-color;
}
