.theme button {
  color: $font-color;
  background: $element-color;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .2s ease;
  padding: 0;
}

.theme button:hover {
  background: $button-hover-color;
}

.theme button:active {
  background: $active-color;
}
