button, .theme button {
  color: $font-color;
  background: $element-color;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .2s ease;
}

button:hover, .theme button:hover {
  background: $hover-color;
}

button:active, .theme button:active {
  background: $active-color;
}
