$fa-font-path: "../fonts";
@import "../node_modules/font-awesome/scss/font-awesome";
@import './colors';
@import './layout';
@import './button';

.theme * {
  $fa-font-path: "../fonts";
  @import "../node_modules/font-awesome/scss/font-awesome";
}

input {
  color: $font-color;
  background: $element-color;
  border: 1px solid $font-color;
}

.top-button {
  border-top: none;
}

.audio {
  display: inline-block;
}

.progress {
  display: inline-block;
  width: 250px;
}

.background, .fill {
  display: inline-block;
  height: 10px;
}

.background {
  background-color: lightblue;
  position: relative;
  width: 100%;
}

.fill {
  background-color: deepskyblue;
  position: absolute;
  left: 0;
  width: 39%;
}

.controls-bottom {
  margin-top: 10px;
}

.controls-bottom button {
  border-radius: 5px;
  outline: none;
  width: 30px;
  height: 30px;
}

.controls-right {
  float: right;
}

.text-input {
  font: inherit;
  padding: 2px 6px;
}
