$fa-font-path: "../fonts";
@import "../node_modules/font-awesome/scss/font-awesome";
@import './colors';
@import './layout';
@import './button';

.theme * {
  $fa-font-path: "../fonts";
  @import "../node_modules/font-awesome/scss/font-awesome";
  transition: .2s ease;
}

input {
  color: $font-color;
  background-color: var(--hover-color);
  border: 1px solid $font-color;
  outline: none;
}

input:focus {
  background-color: white;
}

.top-button {
  border-top: none;
  border-radius: 0;
}

.text-input {
  font: inherit;
  padding: 2px 6px;
}
