button {
	background: none;
	color: white;
	border: 0;
	cursor: pointer;
}

button:hover {
	background: var(--dark-gray);
}

button:active {
	background: var(--light-gray);
}

input {
	background: black;
	border: 1px solid white;
	color: white;
	padding: 3px;
}
