:focus {
	border-color: var(--white-blue);
	outline-color: var(--white-blue);
}

button {
	background: none;
	color: white;
	border: 0;
	cursor: pointer;
}

button:hover {
	background: var(--dark-gray);
}

button:active {
	background: var(--light-gray);
}

input {
	background: black;
	border: 1px solid white;
	color: white;
	padding: 3px;
}

.line {
	padding: 3px;
}

.line:not(.disabled) {
	cursor: pointer;
}

.line:hover {
	background-color: var(--light-blue);
}

.line.selected {
	background-color: var(--dark-blue);
}
