/*
	We have to do this because importing the giant font-awesome stylesheet for each shadow dom that requires it is slow.
	This is especially true with the custom element x-song-line, which we create a 5000+ times for each x-list-frame refresh.
*/

.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-size: inherit;
}

.fa-arrows-alt:before {
	content: "\f0b2";
}

.fa-download:before {
	content: "\f019";
}

.fa-ellipsis-v:before {
	content: "\f142";
}

.fa-external-link:before {
	content: "\f08e";
}

.fa-list:before {
	content: "\f03a";
}

.fa-music:before {
	content: "\f001";
}

.fa-pause:before {
	content: "\f04c";
}

.fa-play:before {
	content: "\f04b";
}

.fa-plus:before {
	content: "\f067";
}

.fa-random:before {
	content: "\f074";
}

.fa-refresh:before {
	content: "\f021";
}

.fa-remove:before {
	content: "\f00d";
}

.fa-search:before {
	content: "\f002";
}

.fa-search-plus:before {
	content: "\f00e";
}

.fa-star:before {
	content: "\f005";
}

.fa-star-o:before {
	content: "\f006";
}

.fa-step-backward:before {
	content: "\f048";
}

.fa-step-forward:before {
	content: "\f051";
}

.fa-stop:before {
	content: "\f04d";
}

.fa-user:before {
	content: "\f007";
}
